---
// @ts-nocheck
import FooterLinks from '../components/Bits/FooterLinks.js'

const time = new Date().getFullYear()
---

<footer class="absolute bottom-8 left-0 right-0 text-center">
    <div>
        <FooterLinks />
    </div>
    <div>
        <p>
            <a href="https://astro.build/" class="underline">astro</a> &
            <a href="https://tr.reactjs.org/" class="underline">react</a> &
            <a href="https://tailwindcss.com/" class="underline">tailwindcss</a>
            ve biraz da ✨ ile hazırlandı.
            <br/>
            {time}
        </p>
    </div>
</footer>