@font-face {
    font-family: "Geomanist Italic";
    font-style: normal;
    font-weight: normal;
    src: local("./assets/fonts/Geomanist Regular Italic"),
        url("./assets/fonts/Geomanist-Regular-Italic.woff") format("woff");
}

@font-face {
    font-family: "Geomanist";
    font-style: normal;
    font-weight: normal;
    src: local("./assets/fonts/Geomanist Regular"),
        url("./assets/fonts/Geomanist-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: radial-gradient(
        rgba(33, 33, 33, 0.2) 20%,
        transparent 20%
    );
    background-position: 0 0, 50px 50px;
    background-size: 25px 25px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ul,
li,
ol {
    padding: 0;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
